body {
    font-family: 'Century';
    line-height: 1.4;
    box-sizing: border-box;
}

header, section, footer {
    padding: 18px;
}

nav ul {
    list-style: none;
    background-color: bisque;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 15px;
}

nav ul li a:hover {
    background-color: beige;
    color: black;
}

footer {
    background-color: bisque;
    color: black;
    text-align: center;
    padding: 12px;
    position: relative;
    width: 100%;
}