body {
    font-family: Arial, "Bangla Sangam MN", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9e9191;
}

.todo-container {
    width: 300px;
    background: #d7cccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #d0c5c5;
    border-radius: 4px;
}

button {
    width: auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: darkseagreen;
    color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
    min-width: 80px
}

button:hover {
    background-color: lightskyblue;
}

.completed span {
    text-decoration: line-through;
    color: grey;
}

li {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

li span {
    margin-right: 10px;
}

.face {
    width: 100px;
    height: 100px;
    background-color: #f5ce94;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

#face1 {
    right: 20px;
    top: 20px;
}

#face2 {
    left: 20px;
    top: 20px;
}

#face3 {
    left: 20px;
    bottom: 20px;
}

#face4 {
    right: 20px;
    bottom: 20px;
}

.eye {
    margin-top: -20px;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.mouth {
    width: 60px;
    height: 30px;
    background-color: black;
    border-radius: 0 0 80px 80px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    overflow: hidden;
}

.mouth::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 20px;
    background-color: pink;
    border-radius: 50%;
}

.pupil {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.6s ease;
}

.face-alternate-color {
    background-color: darkblue;
}

.eye.red {
    background-color: red;
}

.mouth.green {
    background-color: darkgreen;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.todo-item span {
    flex-grow: 1;
    margin-right: 10px;
}

.time-display {
    margin-bottom: 750px;
    text-align: center;
    position: fixed;
}

.clock {
    font-size: 24px;
    font-weight: bold;
    transition: color 0.5s ease-in-out;

}

.delete-button {
    background-color: red;
    color: white;
}

.delete-button:hover {
    background-color: darkred;
}

.done-button {
    background-color: deepskyblue;
    color: white;
}

.done-button:hover {
    background-color: #8ad7f6;
}

@keyframes color {
    0% { color: black; }
    50% { color: white; }

}

.color-text {
    animation: color 0.1s infinite;
}