body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: aliceblue;
}

canvas {
    border: 3px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

@keyframes rainbow {
    0% { color: red; }
    15% { color: orange; }
    30% { color: yellow; }
    45% { color: green; }
    60% { color: blue; }
    75% { color: indigo; }
    90% { color: violet; }
    100% { color: red; }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1 {
    margin-bottom: 50px;
    font-size: 40px;
    cursor: pointer;
    animation-fill-mode: forwards;
}